{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSpacing": false,
    "jsxBracketSameLine": false,
    "arrowParens": "avoid",
    "useTabs": false,
    "tabWidth": 2,
    "printWidth": 100,
    "trailingComma": "es5",
    "endOfLine": "auto"
}
